{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "~Components": "./src/components",
          "~Types": "./src/types",
          "~Pages": ".src/pages",
          "~Api": "./src/services/api",
          "~Store": "./src/store"
        }
      }
    ]
  ]
}
