{
  "presets": ["react-app"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ".",
        "alias": {
          "~Components": "./src/components",
          "~Types": "./src/types"
        }
      }
    ]
  ]
}
